version: '3.8'

services:
  redis:
    image: redis:7
    container_name: redis_cache
    restart: always
    ports:
      - "6379:6379"
    networks:
      - corp_xyz_network

networks:
  corp_xyz_network:

